.contact__wrap{
	width: 400px;
	margin:0 auto;
}
.contact__title{
		margin: 0;
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 120px;
    color: #fff;
    background: #48cbe8;
    border-bottom: 20px solid #67dffa;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
.contact__input-wrap{
 	  display: inline-block;
    margin-bottom: 10px;
    position: relative;
 } 
.cotact__text{
	display: block;
 	font-family: 'firasans-light';
  font-size: 1.2em;
  color: #848894;
}
.ml{
	margin-left: 15px;
}
.contact__input{
	border: 1px solid #48cbe8;
  border-radius: 4px;
  color: #48cbe8;
  padding: 10px;
  box-sizing:border-box;
}
.contact__input--area{
	height: 40px;
  width: 190px;
}
.contact__input-textarea{
 	width: 400px;
  height: 180px;
  resize:none;
}
.contact__capcha-img{
 	width: 190px;
  height: 80px;
  border: 1px solid #48cbe8;
  border-radius: 4px;
  background: #fff;
  display: inline-block;
  margin-bottom: 20px;
}
.contact__input--capcha{
	vertical-align: top;
  margin: 20px 0 0 10px;
  width: 190px;
  height: 30px;
  padding: 5px 10px;
}
.contact__button{
  font-size: 1.1em;
  border-radius: 5px;
  padding: 3px 25px;
  color: #fff;
  border: none;
  outline: none;
}
.contact__button--submit{
	background: #48cbe8;
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 0 #3ba8c0;
}
.contact__button--reset{
  background: #849db5;
  float: right;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 0 #687b8f;
}
.contact__button--submit:hover,
.contact__button--reset:hover{
	-webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 2px 0 -2px;
  box-shadow: none;
}
