@font-face {
    font-family: 'firasans-book';
    src: url('../fonts/fira/firasans-book.eot');
    src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fira/firasans-book.woff') format('woff'),
        url('../fonts/fira/firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'firasans-regular';
    src: url('../fonts/fira/firasans-regular.eot');
    src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fira/firasans-regular.woff') format('woff'),
        url('../fonts/fira/firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'firasans-light';
	src: url('../fonts/fira/firasans-light.eot');
	src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/fira/firasans-light.woff') format('woff'),
		  url('../fonts/fira/firasans-light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/fira/firasans-medium.eot');
    src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-medium.woff') format('woff'),
         url('../fonts/fira/firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/Proxima-Nova/proximanova-semibold-webfont.eot');
    src: url('../fonts/Proxima-Nova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/Proxima-Nova/proximanova-semibold-webfont.ttf') format('truetype');       
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'firasans-lightitalic';
    src: url('../fonts/fira/firasans-lightitalic.eot');
    src: url('../fonts/fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-lightitalic.woff') format('woff'),
         url('../fonts/fira/firasans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}  
html{
	height: 100%;
}
body{
	height: 100%;
	background: url(../img/comppattern2.png);
	font: 100%/1.5em 'firasans-book','sans-serif';
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.hidden-text{
	text-indent: -99999px;
	position: absolute;
}
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 980px;
	height: auto !important;
}
.wrapper:after{
	content: "";
	height: 80px;
	display: block;
}
.main-container{
	width: 960px;
	margin: 0 auto;
}
/*-- ШАПКА --*/
.header{
	background: url(../img/border.png) center bottom no-repeat #eff3f7;
  margin-bottom: 40px;
  height: 119px;
  min-width: 980px;
	}
.header-wrap{
	max-width: 1200px;
	height: 100%;
	position: relative;	
	margin:0 auto;
}	
.header .header__logo{
	display:block;
	position: absolute;
 	top:37px;
	left: 0;
	transition:.5s;
}
.header__logo:hover{
	opacity:.7;
}
.header .social{
	position: absolute;
	top:34px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 260px;
	font-size: 0;
}
 .social__item {
 	list-style: none;
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-left: 24px;
}
.social .social__item:first-child{
	margin-left: 0;
}
.social__link{
	display: block;
	background: url(../img/sprite.png) no-repeat;
	height: 100%;
	width: 100%;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-ms-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition:  .3s ease-in;
	text-indent: -999999px;
}
.vk{background-position-x:0;}
.tw{background-position-x:-71px;}
.fb{background-position-x: -142px;}
.git{background-position-x: -213px;}
.social__link:hover{
	background-position-y:-86px;}

 /*-- Навигация --*/
.sidebar {
  width: 250px;
  float: left;
}
.nav {
  width: 100%;
  display: inline-block;
}
.nav-list {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  border-radius: 4px;
  background: #eff3f7;
  overflow: hidden;
  list-style: none;
}
.nav-list__item {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-top: 2px solid #3ba8c0;
}
.nav-list__item:first-child {
  border-top: none;
}
.nav-list__link {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  color: #959aa8;
  padding: 23px 5px;
  margin: 0 10px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.nav-list__link:hover {
  color: #3ba8c0;
}
.active {
  background: #3ba8c0;
  color: #fff;
  border-bottom: none;
  font-size: 1.4em;
  padding: 24px 27px;
  margin:-2px -13px -2px;
}
.active:hover {
  color: #fff;
}
/*-- Контакты --*/
.contacts{
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 40px;
}
.about-me {
    float: right;
    width: 650px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 35px;
    margin-bottom: 27px;
    background-color: #eff3f7;
}
.about-me__title {
    display: inline-block;
    font-size: 1.7em;
    color: #3ba8c0;
    line-height: 66px;
    border-bottom: 2px solid #3ba8c0;
    margin-top: 0;
    margin-bottom: 21px;
    padding: 0 21px;
}
.contacts__item{
	display: block;
	list-style: none;
	line-height: 40px;
	color: #fff;
	padding-left: 82px;
	position: relative;
}
.contacts__title{
	background: #3ba8c0;
  padding-left:21px;
  font-size: 1.3em;
  vertical-align: bottom;
}
.contacts__link{
  display: inline-block;
  text-decoration: none;
  padding-top: 11px;
  color: #fff;
  line-height: 1.1;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.contacts__link:hover{
	border-bottom: 1px solid  #fff;
}
.contacts__email{
	background: #41b9d4;
}
.contacts__email:before{
	content: '';
	position: absolute;
	width: 21px;
	height: 16px;
	top:11px;
	left: 42px;
	background: url(../img/почта.png) no-repeat;
}
.contacts__phone{
	background: #48cbe8;
}
.contacts__phone:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top:10px;
	left: 42px;
	background: url(../img/тел.png) no-repeat;
}
.contacts__skype{
	background: #51daf8;
}
.contacts__skype:before{
	content: '';
	position: absolute;
	width: 21px;
	height: 20px;
	top:10px;
	left: 42px;
	background: url(../img/skype.png) no-repeat;
}

/*--- Футер ---*/
.page-footer{
  color:#4a545d;
}
.page-footer .container{
	line-height: 80px;
	margin-top: -80px;
	min-width: 980px;
	background: url(../img/border.png) center top no-repeat #eff3f7; 
}
 .page-footer__copyright{
	width: 800px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.page-footer__text{
	font-family: 'firasans-light';
	color:#4a545d;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.page-footer__container-lock{
	position: absolute;
  left: -50px;
  top: 25px;
}
.page-footer__lock{
	display: block;
  width: 20px;
  height: 32px;
  text-decoration: none;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/логин.png) no-repeat;
}
.page-footer__lock:hover{
	background: url(../img/вход-выполнен.png) no-repeat;
}